/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");


@import "tailwindcss";


@theme {
  --color-primary: #4B1D6D;
  --color-primaryDark: #3A1454;
  --color-accent: #F2E55C;
  --color-bgLight: #F6F7FB;
  --color-borderLight: #E5E7EB;
}


* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
